Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.yarn/cache
.yarn/*.gz
.DS_Store
pocketbase-data
.vs_code

public/sw.js
public/*.map
public/workbox*.js
public/worker*.js

android
*.keystore
