# dependencies
/node_modules

# testing
/coverage

# tanstack start / nitro
/.output/
/.nitro/

# production
/build

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo

pocketbase-*

public/sw.js
public/*.map
public/workbox*.js
public/worker*.js

android
*.keystore
*.lockb

*.env

# nix
result
result-*
/.direnv/
